node_modules
coverage
etc
target
node
.nyc_output
.settings
.externalToolBuilders
.apt_generated
.project
.jazzignore
.history
WebContent/app.min.js
.classpath
.factorypath
*.war
bin
dist
.scannerwork
.DS_Store

# pax workspace
pax-workspace/*
!pax-workspace/.keep
!pax-workspace/pre-packaging.sh
!pax-workspace/post-packaging.sh

# fvt tmp folder
.fvt
