node_modules/
coverage/
etc
target
node
.nyc_output/
.settings
.externalToolBuilders
.apt_generated
.project
.jazzignore
.history
WebContent/app.min.js
.classpath
.factorypath
*.war
dist
web
.scannerwork
.DS_Store
.history/
.env

# pax workspace
.pax/*
!.pax/.keep
!.pax/pre-packaging.sh
!.pax/post-packaging.sh
!.pax/prepare-workspace.sh
!.pax/catchall-packaging.sh

# fvt tmp folder
.fvt

# apiml cache
.ehcache*
*.data
