/**
 * This program and the accompanying materials are made available under the terms of the
 * Eclipse Public License v2.0 which accompanies this distribution, and is available at
 * https://www.eclipse.org/legal/epl-v20.html
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 * Copyright IBM Corporation 2018
 */

/*  ROWS  */
.row {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float: left;
	margin: 1% 0 0 1%;
}

.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before, .group:after {
    content: "";
    display: table;
}

.group:after { clear: both; }
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWELVE  */
.col-12 {width: 100%;}
.col-11 {width: 91.53%;}
.col-10 {width: 83.06%;}
.col-9 {width: 74.6%;}
.col-8 {width: 66.13%;}
.col-7 {width: 57.66%;}
.col-6 {width: 49.2%;}
.col-5 {width: 40.73%;}
.col-4 {width: 32.26%;}
.col-3 {width: 23.8%;}
.col-2 {width: 15.33%;}
.col-1 {width: 6.866%;}

/*  FULL WIDTH */
@media only screen and (max-width: 600px) {
	.col { margin: 1% 0 1% 0%; }
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        width: 100%;
	}
}
