/**
 * This program and the accompanying materials are made available under the terms of the
 * Eclipse Public License v2.0 which accompanies this distribution, and is available at
 * https://www.eclipse.org/legal/epl-v20.html
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 * Copyright IBM Corporation 2018
 */

html, body, #app {
    height: 100%;
}

body {
    font-size: 13px;
    line-height: 20px;
    margin: 0;
}

.component {
    margin-top: 0px;
    margin-bottom: 0px;
}

pre code {
    white-space: pre;
}

.card-component {
    margin-bottom: 10px;
}

.tree-card {
    padding-bottom: 0;
}

#tree-text-content {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

/* Node Tree Styles */
.content-link {
    cursor: pointer;
    color: #2E77A1;
}

.node-toggle {
    cursor: pointer;
}

.node-toggle-placeholder {
    width: 24px;
    display: inline-block;
}

.node ul {
    list-style: none;
    padding-left: 10px;
    margin: 0;
}

.node span {
    display: inline-block;
    vertical-align: top;
    line-height: 24px;
}

.node .subsystem-type {
    padding-right: 5px;
}

.node-annotation {
    padding-left: 5px;
}

.snackbar {
    background-color: black;
}

.accent-button {
    background-color: #61b1fd !important;
}