/**
 * This program and the accompanying materials are made available under the terms of the
 * Eclipse Public License v2.0 which accompanies this distribution, and is available at
 * https://www.eclipse.org/legal/epl-v20.html
 *
 * SPDX-License-Identifier: EPL-2.0
 *
 * Copyright IBM Corporation 2018, 2019
 */

html, body, #app {
    height: 100%;
}

html {
    font-family: sans-serif;
}

body {
    font-size: 13px;
    line-height: 20px;
    margin: 0;
}

.component {
    margin-top: 0px;
    margin-bottom: 0px;
}

.card-component {
    margin-bottom: 10px;
}

.tree-card {
    padding-bottom: 0;
}

#tree-text-content {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}

.node-toggle-placeholder {
    width: 24px;
    display: inline-block;
}

.node ul {
    list-style: none;
    padding-left: 10px;
    margin: 0;
    white-space: nowrap;
}

.node span {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
}

.node-label {
    font-size: 14px;
}

.node-icon {
    padding: 0;
    height: 20px !important;
    width: 20px !important;
    vertical-align: middle;
    color: black;
}

.content-link {
    cursor: pointer;
    color: #2E77A1;
}